[2020-11-24 07:35] sansyrox opened #1 "Audio modulation and encoding in a video call #2"
We need an ability to obfuscate audio that we are sending across the stream.

cc https://github.com/incog-ly/incog-ly/issues/2

[2020-11-24 07:36] sansyrox opened #2 "Facial feature detection in a video"
CC https://github.com/incog-ly/incog-ly/issues/3

[2020-11-24 07:36] sansyrox opened #3 "Facial feature mapping in a video"
CC https://github.com/incog-ly/incog-ly/issues/4

[2020-11-24 07:37] sansyrox opened #4 "Anonymous mock interviews"
## Idea

I would like to implement **anonymous mock interviews** for fellows where 2 random people can join the interview in which one person acts as **interviewer** and other as **interviewee** (they would be masked in the video call). This would help fellows prepare for the actual interview and also you wouldn't know who interviewed you or whom are you interviewing.

CC https://github.com/incog-

[2020-11-24 07:38] sansyrox opened #5 "Add face expression recognition"
## Description
Implement a face expression detection system in the webcam video.

## Possible Implementation
Using face-api.js library

CC https://github.com/incog-ly/incog-ly/issues/12

[2020-11-24 08:22] sansyrox opened #6 "Dockerise Deploys"
Create Docker containers to dockerise deploys

[2020-11-24 08:23] sansyrox opened #7 "Add a way to auto generate an SSL certificate."
This app only runs on HTTPS.

Use SSL to deploy this app

[2020-11-24 08:25] sansyrox opened #8 "Add Eye Tracking"
### Idea
Implement eye tracking with the face-api and display it on the avatar to eliminate possibility of cheating

Cc @ayushjainrksh

[2020-11-24 08:27] sansyrox opened #9 "Option to share the screen."
This can be done with WebRTC ScreenSharing.

[2020-11-24 08:27] sansyrox opened #10 "Adding a collaborative IDE for the mock interview perspective"
cc @ani4aniket

[2020-11-24 08:28] sansyrox opened #11 "[Enhancement] Adding to option to choose avatars."
cc @ani4aniket

[2020-11-24 08:28] sansyrox opened #12 "Improve UX on ML side as there is a performance issue."
Model sometimes couldn't load properly either on host and remote

cc @ani4aniket

[2020-11-24 08:30] sansyrox opened #13 "Bump up react"
Migrate to a newer version

[2020-11-24 08:30] sansyrox opened #14 "App doesn't work in cross platform and crashes when using my laptop"
Issue is unique to my laptop and with other people

Need to check if this is with my network or just the laptop

[2020-12-01 08:19] subhangi2731 commented on #14
can you please assign this issue to me? @sansyrox

[2020-12-01 08:20] subhangi2731 commented on #13
can you please assign this issue to me? @sansyrox

[2020-12-01 08:21] subhangi2731 commented on #12
can you please assign this issue to me? @sansyrox

[2020-12-01 08:22] subhangi2731 commented on #11
can you please assign this issue to me? @sansyrox

[2020-12-01 08:23] subhangi2731 commented on #10
can you please assign this issue to  me? @sansyrox ..Would like to work on this.

[2020-12-01 08:24] subhangi2731 commented on #9
can you please assign this issue to me? @sansyrox

[2020-12-01 08:25] subhangi2731 commented on #7
can you please assign this issue to me? @sansyrox

[2020-12-01 08:25] subhangi2731 commented on #6
can you please assign this issue to me? @sansyrox

[2020-12-01 08:31] subhangi2731 commented on #6
can you please assign this issue to me? @sansyrox

[2020-12-01 08:32] subhangi2731 commented on #3
can you please assign this issue to me? @sansyrox

[2020-12-01 08:33] subhangi2731 commented on #3
can you please assign to me? @sansyrox

[2020-12-01 09:53] sansyrox commented on #13
Sure @subhangi2731 . Go ahead

[2020-12-01 09:54] sansyrox commented on #13
We plan to assign only one issue at a time 😄

[2020-12-01 10:09] sansyrox commented on #10
Sure. How do you plan to integrate it?

[2020-12-01 10:13] sansyrox commented on #14
How do you plan to debug this?

This issue is unique to me.

[2020-12-02 04:57] subhangi2731 commented on #13
okay no problem..will fix the first issue then come to next

[2020-12-02 18:02] mohdorusaid commented on #14
Can you describe some details and error messages?

[2020-12-02 19:15] sansyrox commented on #14
@mohdorusaid , that is the strange thing. It doesn't give any errors just doesn't connect to a session.

This bug is unique to me. I would have to fix it myself :(. I would suggest y'all work on a different bug maybe #6 is good alternative to this one.

[2020-12-03 12:43] mohdorusaid commented on #14
Sure I'll look around:)

[2020-12-03 13:05] atarax665 opened #17 "Add CONTRIBUTING.md"
### Add ```CONTRIBUTING.md``` File

As this project is a part of an Open Source Program ```NJACK Winter of Code``` I would recommend to have a contribution guidelines file (```CONTRIBUTING.md```) to assist beginners to get started with open source contribution.

Points to be covered in the guideline :
- How to pull your first request.
- How to create issue.
- Some general rules to keep in mind whi

[2020-12-04 08:50] Pranav016 commented on #17
Sure, I would be happy to add a CONTRIBUTING file.

[2020-12-04 10:35] dijodaiju7 commented on #7
Can you please assign it to me? @sansyrox

[2020-12-04 10:43] sansyrox commented on #13
Fixed.

[2020-12-04 10:43] #13 closed, assigned to nobody

[2020-12-04 10:45] sansyrox commented on #7
Yes sure @dijodaiju7 . Go ahead!

[2020-12-04 10:46] dijodaiju7 commented on #7
Can I know where to deploy this app.

On Fri, 4 Dec 2020, 4:15 pm Sanskar Jethi, <notifications@github.com> wrote:

[2020-12-04 12:00] sansyrox opened #18 "Migrate the Class components to functional components"
Now the class components are soon to be deprecated, try porting them to functional components.

[2020-12-04 12:01] sansyrox commented on #17
Sure! Go ahead @Pranav016

[2020-12-04 12:02] sansyrox commented on #6
Yes @subhangi2731 , go ahead!

[2020-12-04 12:06] sansyrox commented on #7
@dijodaiju7 , since the app requires an ssl certificate for connections on the same network. We want to create a way to generate a new SSL certificate locally, if it doesn't already exist.

You can just create a custom script from here: https://stackoverflow.com/questions/21397809/create-a-trusted-self-signed-ssl-cert-for-localhost-for-use-with-express-node

[2020-12-04 12:11] sansyrox opened #19 "Add the option of adding more than one member"
Currently, the video call happens only between 2 people.

We need to add a way to allow more than 2.

[2020-12-04 12:22] dijodaiju7 commented on #7
Thanks, I'll check it out.

On Fri, 4 Dec 2020, 5:37 pm Sanskar Jethi, <notifications@github.com> wrote:

[2020-12-04 12:35] sansyrox commented on #14
Fixed Now.
Wierd Issue with the Nginx proxy settings.

[2020-12-04 12:35] #14 closed, assigned to nobody

[2020-12-04 14:51] kibi11 commented on #18
Can you assign me this issue? What are the things need to know ?

[2020-12-04 16:24] sansyrox commented on #18
There are class components in the app, you just need to convert them to functional components.
Ensuring you don't break anything.

[2020-12-04 16:45] atarax665 commented on #17
@sansyrox @Pranav016 Actually I was already working on this issue. I have even raised PR #20 regarding it.

[2020-12-04 17:34] sansyrox commented on #17
Økay @atarax665 . From next time please claim the issue before working to avoid any botch ups.

[2020-12-04 17:44] atarax665 commented on #17
Yeah, sorry for the inconvenience.

[2020-12-04 17:57] #17 closed, assigned to nobody

[2020-12-06 05:57] KerinPithawala opened #21 "Add issue template"
Can I make issue templates to enhance the workflow of the repository?

[2020-12-06 16:44] KerinPithawala opened #23 "Add pull request template"
Can I add pull request template to this project to enhance the workflow of the repository?

[2020-12-06 16:45] KerinPithawala opened #24 "Add contributing.md file"
I think it is important to have contributing guidelines so that an open-source contributor know how to contribute properly.
Can I work on this?

[2020-12-07 04:47] sansyrox commented on #24
Hey @Kerveyfelix , we already have one.

[2020-12-07 04:47] sansyrox commented on #24
Sorry, will have to close this issue.

[2020-12-07 04:47] #24 closed, assigned to nobody

[2020-12-07 04:48] sansyrox commented on #21
Sure, go ahead!

[2020-12-07 04:48] sansyrox commented on #23
Go ahead!

[2020-12-07 04:50] sansyrox opened #25 "Improve the 404 page!"
404 is a little ugly rn.

We can add a simple svg from undraw to improve the aesthetics!

[2020-12-07 07:11] KerinPithawala commented on #21
I have made pull request : https://github.com/mexili/incogly/pull/27

[2020-12-07 07:24] #21 closed, assigned to nobody

[2020-12-07 07:27] sansyrox opened #28 "Create a Landing Page"
Right now the Landing Page is a little old and the fonts are not very crisp on different screens.

You can create a new landing page as per your imagination.

Requirements:
1. Get the mockup approved
2. Make the PR.

We can split the PR into 2 issues and can allot the points as required.

[2020-12-07 07:31] sansyrox commented on #18
@kibi11 , you can go ahead. Sorry forgot to assign this issue to you.

[2020-12-07 11:14] sayna3311 commented on #25
I would like to contribute. Please, assign this to me.

[2020-12-07 11:16] sayna3311 commented on #18
Can you assign this to me? I would like to look into it.

[2020-12-07 11:49] sansyrox commented on #25
Yes, sure @sayna3311 . Go ahead!

[2020-12-07 11:50] sansyrox commented on #18
@sayna3311 , we should wait for 2/3 days to allow @kibi11 to work on it.

[2020-12-07 17:04] sayna3311 commented on #25
![Screenshot 2020-12-07 223304](https://user-images.githubusercontent.com/67572440/101381018-3cdcdc80-38dc-11eb-8467-4c0b1ef38ed4.jpg)

Looks fine to you?

[2020-12-08 07:03] sansyrox commented on #25
@sayna3311 This looks really good! 🔥

[2020-12-08 18:34] m-code12 opened #30 "Feature request || Add a bot to moderate the issue request and the feature request"
**Is your feature request related to a problem? Please describe.**
This bot would help a first time contributor so that that contributor can follow this project's contribution guidelines.We can link our issue template, pull request template and code of conduct here.It will contain newIssue Welcome comment, newPR Welcome comment, firstPR welcome comment,etc.

We can use a GitHub App built with prob

[2020-12-08 19:00] sansyrox commented on #30
This really looks like a good addition. We can add the link of our discord community in this issue.

Will you be willing to implement this?

[2020-12-08 19:06] m-code12 commented on #30
Yes, I would like to implement this.

[2020-12-08 19:09] sansyrox commented on #30
Perfect! Assigned to @m-code12

[2020-12-08 19:09] m-code12 commented on #30
Also, @sansyrox Please could you assign me points for opening this issue?

[2020-12-08 19:14] sansyrox commented on #30
@m-code12 , how do I do that? Should I label it as NWoC?

[2020-12-08 19:17] sansyrox opened #31 "Add a way to send chats accross the streams"
**Is your feature request related to a problem? Please describe.**
Right now we have a socket server which is serving to create and moderate a group, adding a feature to send chats across the streams should not be a difficult task.

**Describe the solution you'd like**
This will serve the base of adding live captioning if using many stt and tts software.

**Approach to be followed (optional)**
Sim

[2020-12-08 19:17] sansyrox commented on #31
Let's see if this can be taken up. Otherwise, I will be implementing this over the weekend.

[2020-12-09 05:34] sansyrox commented on #23
@Kerveyfelix , are you working on this issue?

[2020-12-09 05:49] KerinPithawala commented on #23
Yes

[2020-12-09 07:32] #23 closed, assigned to nobody

[2020-12-09 07:42] #25 closed, assigned to nobody

[2020-12-09 07:48] sansyrox opened #34 "Add a light mode to the app"
**Is your feature request related to a problem? Please describe.**
Right now the app is just present in dark mode and not light mode which is required for some people. We just need to decide a light colorscheme of the app and then create a global toggle.

**Describe the solution you'd like**
Just propose a light colorscheme for now and we can integrate the feature collaboratively.

**Approach to b

[2020-12-09 08:52] sansyrox commented on #34
Dark mode: https://dribbble.com/shots/12263615-Landing-Page-WatchApp

Light Mode: https://dribbble.com/shots/14046353-Website-for-BlueReceipt-on-Awwwards

[2020-12-09 20:17] sansyrox commented on #30
@m-code12 , I can't see your username in the leaderboard.

[2020-12-09 23:26] mamadou-diallo commented on #34
Please let me take care of this

[2020-12-10 04:53] sansyrox commented on #34
Hey @mamadou-diallo , sure ❇️

Can you start by creating a Figma/Invision file and sharing the design with us?

[2020-12-10 04:54] sansyrox commented on #34
The light mode in the above comment just a reference of the colour schema, you are free to use your imagination and you can see the app at https://incogly.ml/

[2020-12-10 06:19] mamadou-diallo commented on #34
@sansyrox as requested here is a figma implementation.

https://www.figma.com/proto/mKDWlGeK2dqmxxfbJPJh64/Untitled?node-id=17%3A3&scaling=min-zoom

I was thinking that I could create a simple link/icon at the botton that would toggle on/on off the dark/light mode.

Let me know what you think :) Thanks !

[2020-12-10 09:15] sansyrox commented on #34
@mamadou-diallo , the button at the bottom really looks like a great idea 🔥

For the design, I was thinking more of a white background and white detailing. Can you please do that?

Also, can you share a collaborator link maybe? So, we can work together on the design.

[2020-12-10 13:48] m-code12 commented on #30
Now it's there

[2020-12-10 14:31] mamadou-diallo commented on #34
@sansyrox - https://www.figma.com/file/mKDWlGeK2dqmxxfbJPJh64/Untitled?node-id=0%3A1 here you go :)

[2020-12-10 18:56] sayna3311 commented on #18
@sansyrox Can I work on it now?

[2020-12-10 19:15] sansyrox commented on #34
Thanks @mamadou-diallo ! I will have a look at it tomorrow morning!!

[2020-12-10 19:16] sansyrox commented on #34
Also, can you join our discord community for easier collab? https://discord.gg/ZHDd59yE

[2020-12-10 19:18] sansyrox commented on #18
Yes @sayna3311 . Go ahead!! 🔥

[2020-12-10 19:19] sansyrox commented on #30
@m-code12 , I've updated your score!

[2020-12-10 19:29] m-code12 commented on #30
Please can you share the link of the discord community?

[2020-12-10 19:45] sansyrox commented on #30
Yes!!
Here you go: https://discord.gg/ZHDd59yE

[2020-12-11 08:37] m-code12 commented on #30
@sansyrox I have raised a pr #36, do have a look.

[2020-12-11 09:14] #30 closed, assigned to nobody

[2020-12-14 09:29] ghost opened #37 "Create room button"
![Capture](https://user-images.githubusercontent.com/63122133/102063821-88cbdc00-3e1c-11eb-9677-b41f6606235e.PNG)

@sansyrox Sir, As shown in picture On phone "Create room" text is in the left side which is not looking good. I think shifting it into center will look good in the mobile phone. I want to work on this issue. Please assign it to me.

[2020-12-14 09:36] sansyrox commented on #37
Hi @urvashi-code1255 ,

Thank you for the comment. But we are migrating to a new UI. So, I don't think that we should spend any time in fixing this one.

Will you be interested in implementing the new one?

[2020-12-14 09:42] ghost commented on #37
Yes @sansyrox I want to contribute to this project's frontend :)

[2020-12-14 09:43] sansyrox opened #38 "Implement the new Dark UI"
**Is your feature request related to a problem? Please describe.**
Since the older ui is a little dated, we are implementing a newer User Interface.

**Describe the solution you'd like**
Implement the newer UI:

![image](https://user-images.githubusercontent.com/29942790/102065572-c0d41e80-3e1e-11eb-8af4-7c57d09b151a.png)

**Describe alternatives you've considered**
Maybe propose a mobile UI?

**A

[2020-12-14 09:44] sansyrox commented on #37
Will you like to propose a mobile UI for the newer front end here?

https://github.com/mexili/incogly/issues/38

[2020-12-14 09:55] ghost commented on #38
I will work on it @sansyrox . Please assign it to me.

[2020-12-14 10:02] sansyrox commented on #38
Sure! @urvashi-code1255 , please use chakraui's grid for basic layout and you can use other scss components for the styling.

[2020-12-14 10:03] ghost commented on #38
@sansyrox Sir, Is there any slack , gitter or other channel where I can discuss?

[2020-12-14 10:10] sansyrox commented on #38
Yep, you can join our discord: https://discord.gg/gtK9hBZu4t

[2020-12-15 05:31] akshay1027 commented on #28
@sansyrox can i work on this issue sir?

[2020-12-15 07:18] sansyrox commented on #28
@akshay1027 , we have already created the dark mode one. Will be interested in creating the light mode version?

[2020-12-15 07:46] sansyrox commented on #28
![](https://cdn.discordapp.com/attachments/780403248360062990/786881607624818708/Screenshot_2020-12-11_at_2.36.30_PM.png)

Here is a dark mode design. Lmk if you can propose a light mode one.

[2020-12-15 12:06] akshay1027 commented on #28
ohh, that's cool, i will try to propose the light mode then 🙌🏻! @sansyrox

[2020-12-15 15:50] PinRathod opened #39 "Add Code of Conduct file"
Code of Conduct file which is important for the open source project community.
Can I work on this?

[2020-12-17 13:41] sansyrox commented on #39
It is already present in the project :D

[2020-12-17 13:41] #39 closed, assigned to nobody

[2020-12-17 15:56] sansyrox commented on #1
https://www.toptal.com/webassembly/webassembly-rust-tutorial-web-audio?utm_campaign=Toptal%20Engineering%20Blog&utm_medium=email&_hsmi=103382885&_hsenc=p2ANqtz-9ngfhkcwxaX0F82IomAI3X2fiS9j0hWvMumC-HZTS5gGsHhTjBW3aYzA-Nmr6g9BpYyWovdZwwpE50w5m7TcKozg-tAQ&utm_content=103382885&utm_source=hs_email

[2020-12-18 05:53] paramsiddharth commented on #6
I would like to work on this! May I be assigned?

[2020-12-18 09:41] sansyrox commented on #6
Yes, @paramsiddharth sure. We have the docker file in the repo. Can you couple it with nginx and docker compose?

[2020-12-19 08:23] paramsiddharth commented on #6
Although I know about creating the `Dockerfile` and setting up `nginx`, I don't know how to create the `docker-compose.yml` yet. I'll study it and get back to you.

[2020-12-25 08:11] akshay1027 commented on #28
I have made a pull request for the lightmode version. review it and let me know what else i have to change. Also i have not changed the navbar for lightmode, if you give me permission, i would like to to that as well. @sansyrox

[2020-12-25 09:47] sansyrox commented on #28
@akshay1027 , please go ahead!

[2020-12-30 07:38] sansyrox opened #41 "App crashing and unable to create sessions"
**Describe the bug**
A is unable to create sessions with socket io shizz. Todo switch to flask for socket io server and include multipeer or simplepeer to remove the issues.

[2021-01-02 18:28] m-code12 opened #42 "Add a GitHub action to auto-assign Mentors for every PR"
I would like to add a GitHub action to auto-assign mentors for every PR. It sometimes becomes hectic for the mentors to take a look at all the Projects for the PRs made by the Contributors. This action would give a nice notification about reviewing the pr and make things pretty easy for the mentor.

Demo :
<img src="https://user-images.githubusercontent.com/1641039/78471193-71573200-776a-11ea-9b40

[2021-01-03 07:39] m-code12 commented on #42
@sansyrox Should I implement this?

[2021-01-03 09:29] sansyrox commented on #42
Yes @m-code12 , go ahead! 🔥

[2021-01-03 17:52] trishnakalita660 commented on #18
https://github.com/mexili/incogly/pull/43

Changed the NotFound.js into Functional component and solved the "GO TO HOME" button issue.

[2021-01-04 11:11] #42 closed, assigned to nobody

[2021-01-27 11:39] MohsinAliSoomro commented on #18
Can I work on this?

[2021-01-27 13:13] sansyrox commented on #18
Hi @MohsinAliSoomro .

Go ahead!

[2021-02-01 11:26] RutvikJ77 opened #64 "Bug report - Incorrect description displayed on the website."
**Describe the bug**
A clear and concise description of what the bug is.
On checking the current state of the website. I saw that the description had a placeholder text of lorem ipsum and the heropage.js had the relevant description. I am confused to as which branch is currently in deployment.

**Expected behavior**
A clear and concise description of what you expected to happen.
The relevant descr

[2021-02-01 15:01] carrycooldude commented on #8
I want to work on this feature, Can anyone guide me in this @sansyrox @ayushjainrksh

[2021-02-01 16:05] sansyrox commented on #8
Hi @carrycooldude ,
Thank you for volunteering. We are using this API https://github.com/justadudewhohacks/face-api.js/

And right now we are unable to do the eye-tracking logic.

it would be helpful if you can add the feature.

[2021-02-01 16:06] carrycooldude commented on #8
Can I use tensorflow.js and use their model face-mesh I think maybe can implement that

[2021-02-01 16:35] sansyrox commented on #8
Will you be able to create an abstraction for us like the one currently used? Using tensorflow looks like a better approach.

What do you think @QEDK

[2021-02-01 17:38] QEDK commented on #8
TFJS would fare better, yep.

[2021-02-02 09:47] pranay-simejia commented on #18
is this issue still open? i would like to work on it.

[2021-02-02 09:48] sansyrox commented on #18
Hi @pranay-simejia , yes it is still open. Please go ahead.

[2021-02-02 09:51] pranay-simejia commented on #34
hey nice design, @mamadou-diallo. Let me know if you aren't working on the code, I could start then.

[2021-02-02 09:54] sansyrox commented on #34
Hey @pranay-simejia .
You can start working on it. Please chakra ui to implement this design. If possible
And we are looking to implement this design only for now.
![Screenshot 2021-02-02 at 3 23 43 PM](https://user-images.githubusercontent.com/29942790/106583030-a4c14380-656a-11eb-9688-658e651da45b.png)

[2021-02-02 09:54] sansyrox commented on #34
Hey @pranay-simejia .
You can start working on it. Please chakra ui to implement this design. If possible
And we are looking to implement this design only for now.
![Screenshot 2021-02-02 at 3 23 43 PM](https://user-images.githubusercontent.com/29942790/106583030-a4c14380-656a-11eb-9688-658e651da45b.png)

[2021-02-02 10:09] shivanggarg1998 commented on #38
is this issue resolved? if not I would like to work on it.

[2021-02-02 10:27] pranay-simejia commented on #18
@sansyrox shall implement state management using useSelector hook too?

[2021-02-02 16:12] sansyrox commented on #38
@shivanggarg1998 , go ahead!

[2021-02-02 16:24] carrycooldude commented on #8
Let me try on TFJS

[2021-02-05 12:04] RutvikJ77 commented on #38
Hey there @shivanggarg1998 and @urvashi-code1255 are you guys still working on it?  Should I hop in for this issue as well?

[2021-02-05 13:34] shivanggarg1998 commented on #38
I am working on it. Actually issue is changes are not dynamically shown making it difficult to work on frontend part. I was thinking of adding something so that changes are dynamically reflected.

[2021-02-05 14:07] RutvikJ77 commented on #38
I assume you are using npm start right? or live server for the dynamic changes?

[2021-02-07 07:34] sansyrox commented on #38
@shivanggarg1998 , are you still working on this? I am shipping a major refactor by eod, you may have to make your code a little modular.

[2021-02-07 12:13] shivanggarg1998 commented on #38
You can go ahead.

[2021-02-08 10:01] lopeselio opened #65 "Typo in the cloning instructions"
Hey I was just cloning the project and installing it from the instructions provided. I guess there is a small typo in the 'git clone' command in the documentation. Noticed an error

[2021-02-14 07:15] lopeselio opened #69 "Add a github logo on the landing page to navigate user to the github repo"
**Is your feature request related to a problem? Please describe.**
The user would want to view the code repository and having a footer icon in the anding page would navigate the user to the codebase

**Additional context**
No additional context

[2021-02-14 18:34] Jassi10000-zz opened #70 "Feature request"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.
1. In the steps to get started with the Installation , the 3. step is written wrong in the ReadMe , due to which many of my beginner friends are facing  issues  -----> Its written  " yarn && node server.js"
2. In the steps it's my suggestion to please include this point that a

[2021-02-15 10:22] lopeselio commented on #70
Hey but yarn installs all packages and node server.js is used to run the server behind the application. Which I guess is not a problem.

[2021-02-15 10:23] lopeselio commented on #28
Is the issue still open ?

[2021-02-15 10:35] sansyrox commented on #28
Hi @lopeselio ,

Yes, it is still open!

[2021-02-15 10:36] sansyrox commented on #28
We have to implement the design in the comment: https://github.com/mexili/incogly/issues/28#issuecomment-745115912

using scss and chakraui preferably, but you are free to choose whatever you like.

[2021-02-15 10:38] sansyrox commented on #28
If you just want to propose a design, we require a light version of the darkmode proposed above.

[2021-02-15 12:13] Jassi10000-zz commented on #70
@lopeselio Acc to my knowledge , you can either use yarn or (npm) [the package manager of node ]

Both can't be used together
Btw with  " node " also we can install all packages

[2021-02-15 14:10] Jassi10000-zz commented on #69
If this means that click the logo would direct it to the github repo of Incogly , then I want to definitely try this out , assign me this
Also pls mention the tags as well

[2021-02-15 14:16] Jassi10000-zz commented on #19
Heyy @sansyrox , I want to try this out
Btw I have currently requested to work on issue #69 , after that I want to work on this , so am requesting to assign it to me beforehand , so that this doesn't get crowded
Btw pls add the tags as well

[2021-02-15 14:28] sansyrox commented on #19
Hey @Jassi10000 , this feature is already implemented in the PR, I proposed here https://github.com/mexili/incogly/pull/67

This PR has some issues that require some help. You can try contributing to those. And as soon as that PR gets merged, we will have more issues like this one.

[2021-02-15 14:30] sansyrox commented on #69
@lopeselio @Jassi10000 , you can add this issue on this PR https://github.com/mexili/incogly/pull/67 and the major_refactor branch.

[2021-02-15 15:43] Jassi10000-zz commented on #19
Means am late , anyways , can you pls tell what are the issues that require help , I can try to help the team to make it a better project

[2021-02-15 15:44] Jassi10000-zz commented on #70
@sansyrox Can you pls have a look over my issue raised , it's it seems suitable pls assign me so that I can move forward to correct the docs

[2021-02-15 17:11] NishantJawla commented on #69
@sansyrox  can I work on this issue. This would be my first opensource commit and it looks like a great issue for a begineer

[2021-02-15 17:29] lopeselio commented on #69
Okay, are we supposed to create a new landing page for the project and before making other changes.

[2021-02-16 06:44] vikas-099 commented on #69
@sansyrox Can I work on this issue ? I am a total beginner. Thanks

[2021-02-16 08:55] sansyrox commented on #69
@trishnakalita660 @lopeselio @vikas-099 , this issue is not an active issue at the moment. Please try to solve the issues on this PR #67 https://github.com/mexili/incogly/pull/67

[2021-02-16 08:55] #69 closed, assigned to nobody

[2021-02-16 13:33] lopeselio commented on #69
Okay cool

[2021-02-16 14:15] vikas-099 commented on #69
Okay no problem

[2021-02-16 14:23] Harshal0902 commented on #5
@sansyrox, can I work on this issue.

[2021-02-17 04:25] ranveersequeira commented on #18
working on it

[2021-02-17 05:03] RutvikJ77 commented on #28
I am in for that

[2021-02-17 10:13] sansyrox commented on #70
Yarn is a package manager.

Node is a RTE.

@Jassi10000 , you can read more about them here: https://stackoverflow.com/questions/41675848/what-is-the-difference-between-node-js-runtime-and-npm-package-manager-options-w/41676076#:~:text=js%20runtime%20is%20basically%20what,by%20using%20the%20command%20line.

[2021-02-17 10:13] #70 closed, assigned to nobody

[2021-02-17 12:05] Jassi10000-zz commented on #70
Npm , is also the package manager of Node , its a choice to use yarn or npm

[2021-02-17 12:20] sansyrox commented on #70
![Screenshot 2021-02-17 at 5 50 07 PM](https://user-images.githubusercontent.com/29942790/108203491-95d0b880-7148-11eb-8043-d40b41200940.png)

Yes @Jassi10000 , I am aware of that. Thought of clarifying your issue 😄

[2021-02-17 12:25] Jassi10000-zz commented on #70
No issues sir ,😄🤙

[2021-02-17 14:08] ranveersequeira commented on #18
Tried but app not working now.

[2021-02-17 14:24] sansyrox commented on #18
Hi @ranveersequeira , please try to migrate the components in the `major_refactor` branch

[2021-02-17 14:25] sansyrox commented on #18
The main branch has been flaky ever since its inception, hence we're moving away from it

[2021-02-20 10:42] RutvikJ77 commented on #28
Hey @sansyrox, I developed this light version can you check it. It is just UI design.
![Incogly - light](https://user-images.githubusercontent.com/45565999/108593058-68c61500-7397-11eb-83d4-dfc629f1b032.png)

[2021-02-20 17:10] sansyrox commented on #28
@RutvikJ77 , this looks great! Do you want to help with coding it out as well?

[2021-02-21 05:34] RutvikJ77 commented on #28
If it is in react, it will take some time for me to set it up since it will be a new tech stack additionally I will need to develop through scss right?

[2021-02-21 06:08] sansyrox commented on #28
@RutvikJ77 , yes. Take a look at this: https://chakra-ui.com/getting-started

It makes using react much simpler for creating is.

Also, can you share the design files in a PR, so I can allot you your points.

[2021-02-21 11:18] RutvikJ77 commented on #28
Cool! I did go through Chakra UI seems easy to develop. I will give it my try. Okay! I will share the background image and UI for the homepage.

[2021-02-24 15:31] sansyrox opened #73 "Feature request"
**Is your feature request related to a problem? Please describe.**
Add a description for the backend link and the separate fe repo

Repo rename after mwoc ends

[2021-05-17 14:52] sansyrox commented on #18
branch name: `major_refactor`

[2021-05-17 14:56] sansyrox opened #74 "Integrate Chakra UI"
**Is your feature request related to a problem? Please describe.**
Add chakra UI to your main landing page

[2021-05-20 14:32] sansyrox opened #75 "Create a Deployment Pipeline"
**Is your feature request related to a problem? Please describe.**
Since we will be deloying to cra based app instead of a custom webpack based one.
It makes sense to create a deployment pipeline on github pages.

[2021-05-20 14:32] sansyrox opened #76 "Add a way to mask the voice"
**Is your feature request related to a problem? Please describe.**
A beta version to mask the voice.

[2021-05-21 16:17] sansyrox commented on #74
Done!

[2021-05-21 16:17] #74 closed, assigned to sansyrox

[2021-05-21 16:17] #65 closed, assigned to nobody

[2021-05-23 14:26] sansyrox opened #79 "Port SCSS to a different FILE"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Approach to be followed (optional)**
A

[2021-05-23 14:26] sansyrox opened #80 "Reduce socket calls on video toggle"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Approach to be followed (optional)**
A

[2021-06-06 12:03] #31 closed, assigned to nobody

[2021-06-06 12:06] sansyrox opened #82 "Create a global state store and decide an architecture"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Approach to be followed (optional)**
A

[2021-06-06 12:11] #79 closed, assigned to sansyrox

[2021-06-06 12:12] sansyrox commented on #75
[ ] - GitHub Actions - Preferred.
[ ] - Travis
[ ] - CircleCI

[2021-06-06 12:17] raghavdhingra opened #83 "UI improvement for Video js"
<img width="936" alt="Screenshot 2021-06-06 at 5 45 21 PM" src="https://user-images.githubusercontent.com/24492201/120923989-16fb8d80-c6ef-11eb-958b-ca7c7f87dad8.png">

**Is your feature request related to a problem? Please describe.**
- [x] Minor UI fix, Spacing fix between the button and the input box
- [x] Add buttons for Join with audio enabled and video-enabled
- [x] Size equal of the input b

[2021-06-06 12:43] sansyrox opened #84 "Improvement of Code structure"
**Describe the bug**
replace window.location.href with useHistory and useLocation in the video.jsx file

[2021-06-06 12:46] sansyrox opened #85 "Eject and convert to webpack"
**Is your feature request related to a problem? Please describe.**
CRA has a lot of limitations regarding the config structure and file directory. Eject all the files and configure them for Webpack

**Describe the solution you'd like**
`yarn eject`

**Describe alternatives you've considered**
use parcel maybe?

[2021-06-06 16:45] ZohebMOPO commented on #83
@raghavdhingra 2nd one done!. If any change that you want just let me know in this issue thread.

[2021-06-07 01:55] shivaylamba opened #87 "Feature request : Adding custom backgrounds for video using Selfie Segmentation MediaPipe Solution"
**Is your feature request related to a problem? Please describe.**
No it is a new feature request.

**Describe the solution you'd like**
Using the newly announced MediaPipe Selfie Segmentation Solution for Web to allow dynamic background change during live video.  ( Refer : https://google.github.io/mediapipe/solutions/selfie_segmentation.html )

**Describe alternatives you've considered**
The http

[2021-06-07 01:57] shivaylamba commented on #87
@sansyrox @midopooler would like to discuss about this implementation with you all

[2021-06-07 06:23] #80 closed, assigned to raghavdhingra, sansyrox

[2021-06-07 06:23] #84 closed, assigned to raghavdhingra

[2021-06-07 06:29] raghavdhingra commented on #83
Great! Please raise a PR with the "major_refactor" branch. If you are stuck on an issue or raising a PR, do let us know.

[2021-06-07 06:29] raghavdhingra commented on #83
@ZohebMOPO

[2021-06-07 07:14] ZohebMOPO commented on #83
Ok

[2021-06-07 08:00] sansyrox commented on #87
@shivaylamba , adding custom backgrounds is not a part of the current roadmap. We would like to improve the facemesh detection feature first.
Custom backgrounds is definitely a good feature to consider for future roadmaps, however, if you or @midopooler be able to help us with implementing that, we would really appreciate it.

[2021-06-07 08:08] sansyrox commented on #87
@shivaylamba , we can discuss this on our weekly community call on Sunday.

[2021-06-07 08:09] shivaylamba commented on #87
Sure @sansyrox

[2021-06-07 08:09] shivaylamba commented on #87
Can you share details of the weekly community call?

[2021-06-07 08:14] sansyrox commented on #87
They usually take place on Sunday around 5pm. I will share the link with you later this week.

[2021-06-07 09:14] ZohebMOPO commented on #83
The first two are done.

P.S. The third issue is also fixed i guess

[2021-06-07 11:14] Jassi10000-zz commented on #85
Can I give a try to this , assign me

[2021-06-07 14:05] sansyrox commented on #85
@Jassi10000 , this feature is not a part of the current roadmap. We will try to implement it when we complete the refactor. This is just open for discussions in the future. You can help us with other issues, if you'd like to.

[2021-06-07 14:07] Jassi10000-zz commented on #85
Ohh okayy , will see other issues
Thanks for telling

[2021-06-10 04:13] ZohebMOPO opened #89 "Feature request: Audio Visualizer"
**Is your feature request related to a problem? Please describe.**

At the time of joining the client should be able to know that how loud his/her voice is. For that Meet has a voice visualizer.
![image](https://user-images.githubusercontent.com/72716462/121461985-78607c80-c9cd-11eb-9ef9-ce55f5486685.jpg)
In the left corner, there is the voice visualizer.

**Describe the solution you'd like**

The

[2021-06-13 09:48] sansyrox commented on #82
@ZohebMOPO @raghavdhingra , I have added a design doc here: https://github.com/mexili/incogly/pull/90 .

Let me know what do you think of it?

[2021-06-13 10:50] ZohebMOPO commented on #82
So @sansyrox looks like we are gonna use Next.js. We also have the server files inside it. Should we take the server files in another directory so that the files will be easy to navigate through?

[2021-06-13 11:21] sansyrox commented on #82
Zoheb, we will be using react only. Nextjs and webrtc don't work very well from our experience.

[2021-06-13 11:31] sansyrox commented on #82
@shivaylamba

[2021-06-14 17:22] sansyrox opened #91 "Check why the the app is making us log out on chat send?"
**Describe the bug**
The app is ending the call when the user sends the chat in the socket stream.

**To Reproduce**
Steps to reproduce the behavior:
1.  Join the call
2.  Try to send the message
3.  App will log you out

**Expected behavior**
The app should successfully send the app to the backend

**Actual behavior**
Crashing at the moment

[2021-06-14 17:35] sansyrox opened #92 "Video stream not showing when a second person is being added to the call"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1.  Open video call
2.  Make some else join it
3.  Video stream will not be visible

**Expected behavior**
Both video streams should be visible

[2021-06-14 19:42] sansyrox commented on #92
@raghavdhingra , I think I might know core cause of this issue.

`getMedia` and `connectToSocketServer` function are being called based on `useEffect`s . We just want them to be called on the basis of button click and not just the change of the state `askForUsername`.

What we should do instead of  this

[code]

we should use this:

[code]

[2021-06-14 19:43] sansyrox commented on #92
and as you will go up the function stack, I think you will move closer to the solution.

[2021-06-15 04:08] ZohebMOPO commented on #91
![bug](https://user-images.githubusercontent.com/72716462/121991094-99a1de00-cdbc-11eb-9576-c1350341aed3.JPG)

I am trying to send messages it's not logging me out. The messages are not showing up in the chat cause there is no Database. But it is not logging me out. I guess the problem was that time.

[2021-06-15 07:29] sansyrox commented on #91
@ZohebMOPO , you need to have 2 people in the socket room.

[2021-06-15 08:41] ZohebMOPO commented on #91
![No bug](https://user-images.githubusercontent.com/72716462/122021006-e7314180-cde2-11eb-94e8-1f0f587ccc0e.JPG)
No, it is not @sansyrox and there is a problem that the next person is not showing after he/she joins. I figured it out. The problem that if your webcam is used in one place then it couldn't be used in another place. If we host that in the cloud and another person joins with another dev

[2021-06-15 08:53] sansyrox commented on #91
@ZohebMOPO

This is not the case. This was working well locally before the refactor. You can join from two tabs without incognito mode and this should work well.(in an ideal scenario)

Read my comments here: https://github.com/mexili/incogly/issues/92#issuecomment-860943842

I have a feeling that these two might be connected.

[2021-06-15 08:59] ZohebMOPO commented on #91
I literally changed the browser and did that so that there will be no conflicts. Idk then what's happening.
P.S. I checked the thing in my normal browser first it was working fine and then I did that in incognito and screenshotted that so that I can hide my normal chrome unnecessary tabs.

[2021-06-20 09:23] raghavdhingra commented on #92
<img width="1440" alt="Screenshot 2021-06-20 at 4 11 42 PM" src="https://user-images.githubusercontent.com/24492201/122670994-3e1f8800-d1e2-11eb-8de0-c91845ff232f.png">

Added a timeout, for obtaining the user stream. But working on a single end.
I will try to update the video based on the socket connection

[2021-06-20 10:47] raghavdhingra commented on #92
@sansyrox I think we have to revert Zoheb changes

[2021-06-20 12:44] sansyrox opened #93 "Try modulating audio stream for video call"
**Is your feature request related to a problem? Please describe.**
Currently, there is no feature to modulate the audio stream of video calls

**Describe the solution you'd like**
Ability to change the audio voice

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Approach to be followed (optional)**
A clear a

[2021-06-25 06:28] ZohebMOPO commented on #93
@sansyrox I am kinda busy this weekend because schools opened. So I can't guarantee when the feature will be done.

[2021-06-25 07:37] sansyrox commented on #93
That's alright, @ZohebMOPO . You can take your time 😄

[2021-06-25 07:38] ZohebMOPO commented on #93
Tysm!

[2021-06-26 12:47] sansyrox commented on #92
This is fixed in the latest release! gg 🔥

[2021-06-26 12:47] #92 closed, assigned to raghavdhingra

[2021-06-26 12:47] sansyrox commented on #91
Fixed in the latest release. GG 🔥

[2021-06-26 12:48] #91 closed, assigned to ZohebMOPO

[2021-06-26 12:52] sansyrox opened #94 "Buttons not working"
No button is working in the app.

This looks like some use effect rendering multiple times. Need to check!

[2021-06-26 12:54] sansyrox opened #95 "Stream behaving weirdly when the room is created by ~3 people."
I can't seem to debug this.

Need to figure this out.

[2021-06-26 21:35] sansyrox opened #96 "Router not working correctly"
When the exact link is used, the deployment  page gives a 404

[2021-06-27 07:23] nimit2801 commented on #95
Hey @sansyrox would love to work on the backend of this APP. Also can we've have a backend tag for the issues would really help me looking into specific issues.
Thanks

[2021-06-27 08:07] sansyrox commented on #95
Hey @nimit2801 ,
This is the repo of the backend : https://github.com/mexili/incogly-backend

We have migrated away from a monolith architecture. You can have a look at the backend repo there.

[2021-06-27 08:14] nimit2801 commented on #95
Ohh, I don't see any issues there right now! Would watch it constantly for any issues!
Thanks @sansyrox

[2021-06-27 11:48] midopooler opened #97 "Enter keystroke not mapped with the inputfields."
Enter keystroke not mapped with the input fields.

[2021-06-27 11:50] midopooler opened #98 "Clear chat after room exit."
The chat is not clearing up after the room exit.

[2021-06-27 11:51] midopooler opened #99 "CI-CD broken"
github actions giving errors on CI-CD.

[2021-06-27 11:52] midopooler opened #100 "Different Aspect ratios for all the users"
Different Aspect ratios of the video for all the users

[2021-06-27 11:59] midopooler opened #101 "Landing page gif broken"
The GIF file on the Landing page is broken and is showing a blur image. Need a quick fix.

[2021-06-27 12:03] midopooler opened #102 "Feature Request:- Add Dark theme"
Feature Request:- Add Dark theme

[2021-06-27 12:09] sansyrox opened #103 "Add a feature to kick out the users!"
Add a way to kick out people if causing issues.

[2021-06-27 12:30] ZohebMOPO opened #104 "Detecting whether speaking or not"
When a person turns his/her mic off. We need to detect whether he/she is speaking and ask him/her to `Turn his mic on`.

[2021-06-27 14:19] sansyrox commented on #95
I library like Peerjs should fix this: https://glitch.com/edit/#!/peerjs-video?path=public%2Fmain.js%3A1%3A0

We are only using one stun server and handling native connections. We should use something more off the shelf.

@raghavdhingra what say?

[2021-06-27 14:20] sansyrox commented on #95
@nimit2801 , if this works well, we will also be integrating peer js in our backend. Let us know if you'd be interested in that.

[2021-06-28 15:37] nimit2801 commented on #95
Sure, I'd look more into peer.js and would love to help.

[2021-06-28 16:36] sansyrox commented on #96
Fixed here: https://github.com/mexili/incogly/commit/e91b1f912fc6605e7ac29063b33a7ba70e06d626

[2021-06-28 16:36] #96 closed, assigned to nobody

[2021-06-28 19:30] sansyrox commented on #99
Fixed in the latest release

[2021-06-28 19:30] #99 closed, assigned to nobody

[2021-06-28 19:31] sansyrox commented on #100
<img width="1317" alt="Screenshot 2021-06-29 at 1 00 07 AM" src="https://user-images.githubusercontent.com/29942790/123693302-80e1ff80-d875-11eb-8ed7-c097d26085d8.png">

This is the sandbox fix that I have thought of. Will implement it over the weekend.

[2021-06-30 04:26] ZohebMOPO commented on #101
@sansyrox, @midopooler  Which one should we go for?
![demo1](https://user-images.githubusercontent.com/72716462/123901795-49fd0e00-d989-11eb-9d9a-5c8940313920.JPG)
![demo 2](https://user-images.githubusercontent.com/72716462/123901802-4ec1c200-d989-11eb-81a5-6c36088b75ac.JPG)

[2021-06-30 04:28] ZohebMOPO commented on #101
P.S. These gifs are in motion but while taking a screenshot it is static.

[2021-06-30 08:26] sansyrox commented on #101
@ZohebMOPO , you can put these gifs in the comments for us to view. Also, can you try looking for gifs that are maybe more colorful? They don't have to be related to code and can just be related to collaboration.

[2021-06-30 10:16] ZohebMOPO commented on #101
Alr,
[1](https://www.careerguide.com/career/wp-content/uploads/2020/04/collaboration-clipart-animated-gif-2.gif)
[2](https://cdn.dribbble.com/users/4341791/screenshots/8574595/media/3cbca4ba607b111c4d4702f210062a62.gif)
[3](https://static.wixstatic.com/media/570bfa_55217a8ab97d4cf1a206fe2ca2f5e2cf~mv2.gif) <- This one is my favorite.

[2021-06-30 10:20] sansyrox commented on #101
@ZohebMOPO , all of these look good. If you can change the background to transparent ,then you can make a PR with any gif that you like 😄

[2021-06-30 10:23] midopooler commented on #101
Ummm. Third one looks more like a dating website GIF lol

[2021-06-30 10:38] ZohebMOPO commented on #101
Haha.
What about [this](https://static.wixstatic.com/media/ab8e83_ed69dcb2b5b341e99ddfc77323599475~mv2.gif) and [this](https://cdn.dribbble.com/users/37380/screenshots/10883216/zoom-party4_12fps.gif) one.

[2021-06-30 11:51] sansyrox commented on #101
https://cdn.dribbble.com/users/37380/screenshots/10883216/zoom-party4_12fps.gif this one looks nice

[2021-06-30 11:51] sansyrox commented on #101
You can also have a look at these : https://cdn.dribbble.com/users/37380/screenshots/10883216/zoom-party4_12fps.gif

[2021-07-01 01:56] ZohebMOPO commented on #101
Sure

[2021-07-01 02:18] ZohebMOPO commented on #101
But the problem is it's occupying too much space on the home page

[2021-07-01 09:09] sansyrox commented on #101
What do you mean?

[2021-07-01 09:58] ZohebMOPO commented on #101
nvm, that was a problem with `<iframe>` tag. It's fixed. I am making a PR then.

[2021-07-01 14:56] ZohebMOPO commented on #103
For kicking someone out of a room we need a user to be an admin(it can the person who started the meeting first or any algorithm we can implement).

[2021-07-01 15:12] sansyrox commented on #103
@ZohebMOPO , we will be following a consensus mechanism where the majority can decide how to kick a person. And anyone can start a vote to kick out the person.
Like how csgo implements it in their matches :D

[2021-07-01 15:15] sansyrox commented on #101
Fixed here: https://github.com/mexili/incogly/pull/105

[2021-07-01 15:15] #101 closed, assigned to ZohebMOPO

[2021-07-01 15:16] sansyrox commented on #28
We have a good landing page now. Closing this!

[2021-07-01 15:16] #28 closed, assigned to nobody

[2021-07-01 15:17] sansyrox commented on #19
We support multiple people now. Closing this!

[2021-07-01 15:17] #19 closed, assigned to nobody

[2021-07-01 17:34] ZohebMOPO commented on #103
Alright. Gotcha!

[2021-07-01 18:23] sansyrox opened #106 "Cloudflare not working for some reason!"
main website not working!!

Netlify working. Don't know why.

[2021-07-02 07:36] ZohebMOPO commented on #106
Is it a problem because of my PR? cuz I saw out of 5 tests 3 passed and 2 were neutral. This may not be the problem ig.

[2021-07-02 07:46] sansyrox commented on #106
@ZohebMOPO , nope. It is def something else. Maybe with webpack or dns.

[2021-07-02 18:52] sansyrox opened #107 "Add username on hover"
Add the ability to see usernames on hover.

[2021-07-04 09:57] sansyrox commented on #100
This is fixed!

[2021-07-04 09:57] #100 closed, assigned to sansyrox

[2021-07-04 11:56] sansyrox commented on #102
Just change the background of video call screen

[2021-07-05 12:00] sansyrox commented on #106
Fixed. Website is up now!

[2021-07-05 12:00] #106 closed, assigned to nobody

[2021-07-05 12:06] sansyrox opened #113 "Noise cancellation implementation"
The audio loops in if people join in without headphones.

Need to fix it.

https://stackoverflow.com/questions/16949768/how-can-i-reduce-the-noise-of-a-microphone-input-with-the-web-audio-api

https://www.webrtc-experiment.com/docs/echo-cancellation.html

[2021-07-06 08:35] sansyrox opened #114 "Improve the video call screen ui"
https://www.uplabs.com/posts/overview-of-new-business-project-proposals

We can use this for a reference.

[2021-07-06 11:44] ZohebMOPO commented on #97
@sansyrox I didn't get what the issue is tryna say. Do we need some keyboard shortcuts so that it will work with input fields?. I was reading [this](https://developer.mozilla.org/en-US/docs/Web/API/Keyboard/getLayoutMap) to understand but I can't :(

[2021-07-06 11:51] sansyrox commented on #97
@Zoheb, when you type anything in the input box, you need to click on
submit button to submit.
We need to make the enter button do this as well.

On Tue, 6 Jul 2021 at 5:14 PM, Zoheb Alli Khan ***@***.***>
wrote:

[2021-07-06 12:23] ZohebMOPO commented on #97
Ahh alright

[2021-07-07 02:36] ZohebMOPO commented on #97
![Error](https://user-images.githubusercontent.com/72716462/124691750-f5621180-def9-11eb-96c7-bb3f6d006ad7.JPG)
Idk why I am facing this error. After surfing google a lot I found out that this a `Babel` version problem. What should I do then? @sansyrox

[2021-07-07 02:47] ZohebMOPO commented on #97
![errr](https://user-images.githubusercontent.com/72716462/124692771-ce0c4400-defb-11eb-94b3-430f6194bfd7.JPG)
not even this one

[2021-07-07 02:49] ZohebMOPO commented on #97
[Code](https://github.com/ZohebMOPO/incogly/blob/temp/src/components/Home/index.jsx)

[2021-07-07 06:37] sansyrox commented on #97
[code]

`handleKeyPress` is being duplicated. You are using it as a ref as well as a callback, which is wrong.

[code]

We don't use `this` in functional components

[2021-07-07 07:48] ZohebMOPO commented on #97
Ahh, alright I fixed that thing and it's working now. @sansyrox
[Demo](https://youtu.be/wQ7O-ReauKA). Making a PR

[2021-07-07 17:02] ZohebMOPO commented on #93
@sansyrox  I was going through some articles about this feature. I am not sure(underconfident) if I could add this feature.Sorry for that. Btw, [this](https://www.twilio.com/blog/audio-visualisation-web-audio-api--react) was the article that I was reading.

[2021-07-07 17:04] ZohebMOPO commented on #93
There's a [npm](https://www.npmjs.com/package/react-redux-webaudio) package that does this thing but it is binded with redux :(

[2021-07-07 17:32] sansyrox commented on #93
@ZohebMOPO , a redux binding is not required and the module will be only helpful for the dispatching of events. Making it very slow.

The important part is an event like this. We shouldn't use a state library or rather any state module for this in real time audio.
[code]

Even with the above module we would have to implement the events ourself, which are the real difficult parts.

@raghavdhingra a

[2021-07-07 17:34] sansyrox commented on #93
Also, try implementing any kind of real time audio modulation even in a sandbox (using an earlier video as well that you shared with us) . We will help you out where you get stuck.

We can brainstorm a different strategy next week otherwise.

[2021-07-08 04:03] ZohebMOPO commented on #93
Hmm sure. Tysm!

[2021-07-08 08:13] raghavdhingra commented on #93
`@raghavdhingra and I will help you for sure with your PR.`
Definitely

[2021-07-08 13:20] ZohebMOPO commented on #93
@raghavdhingra
![ezgif com-gif-maker](https://user-images.githubusercontent.com/72716462/124928450-39016c00-e01d-11eb-922e-dc2878bbb731.gif)
A bug is coming up and I can't find a way to fix that up.

[code]

This is the code for volume

[2021-07-08 18:01] sansyrox commented on #93
This is because you don’t have an onchange field on input.
On Thu, 8 Jul 2021 at 6:51 PM, Zoheb Alli Khan ***@***.***>
wrote:

[2021-07-11 12:08] sansyrox commented on #97
Completed

[2021-07-11 12:08] #97 closed, assigned to ZohebMOPO

[2021-07-11 12:13] sansyrox commented on #93
const audio = await this. getMicrophone()
this.source = await this.audio.createMeid..(audio)

[2021-07-16 16:47] ZohebMOPO commented on #93
[code]

[2021-07-16 18:07] sansyrox commented on #93
@raghavdhingra ^^

[2021-07-17 13:21] raghavdhingra commented on #93
@ZohebMOPO
`
this.setState({ audio });
`
We can not store audio within the state, hooks required time to update, we can not put a stream within the state.

[2021-07-17 13:23] raghavdhingra commented on #93
There are 3 ways to store a stream,
1. Use useRef for storing it
2. You can use the global window variable, window.audioStream = audio
3. Make a local variable for storing the value

[2021-07-18 09:36] ZohebMOPO commented on #93
First of all, I guess it's a class component, so `useRef` will not work. and for the window variable, there's no `audioStream` method. I guess I am dumb, Idk but I can't figure this one out :(((

[2021-07-18 11:49] shivaylamba opened #118 "Port Application to Typescript"
@sansyrox Raghav is suggesting to port all components to Typescript.

Refer : https://github.com/raghavdhingra/React-Typescript-Webpack-Scss-boilerplate ( Sample Template CRA for TypeScript )

[2021-07-18 11:53] shivaylamba commented on #114
Chakra UI Implementation has started.

[2021-07-18 11:58] shivaylamba commented on #18
@sansyrox any updates on this issue?

[2021-07-18 12:27] sansyrox commented on #118
Not permitted.
Types are dumb.

[2021-07-19 09:48] ZohebMOPO commented on #89
![ezgif com-gif-maker](https://user-images.githubusercontent.com/72716462/126140380-3a5c7836-67e1-4c2d-b123-3c4acf404f47.gif)

@sansyrox @shivaylamba @raghavdhingra @midopooler

``The Audio visualizer thing is working rn. This one is in a separate environment. I just wanna ask that in which part of the video call we should add the visualizer?``

[2021-07-19 10:19] sansyrox commented on #89
@ZohebMOPO , on the screen where you select the username

[2021-07-19 10:20] sansyrox commented on #89
Also, once you integrate that, try using hooks instead of class components. Let us know if you face any issues.

[2021-07-19 10:23] ZohebMOPO commented on #89
Yeah sure. I am not in home rn. Will let you know about that :)

[2021-07-19 14:11] sansyrox opened #120 "add e2e encryption?"
https://github.com/webrtc/samples/blob/gh-pages/src/content/insertable-streams/endtoend-encryption/js/main.js

Let me know what you think of this.

If we use this, then we can't use peer js.

[2021-07-19 14:12] sansyrox commented on #120
I think this feature is a stretch feature and we should wait till peer js supports it by themselves.
What say?

[2021-07-19 14:12] sansyrox commented on #120
@ZohebMOPO @raghavdhingra @shivaylamba

[2021-07-19 18:09] ZohebMOPO commented on #120
Like it will be wonderful to add e2e encryption rather than using standard encryption. Idk much about the cons of e2e. Like I mean it will be alright if we add e2e. Will there be any problem with the servers if we add `E2E`?

[2021-07-19 18:12] ZohebMOPO commented on #89
I will not be at my house for 2days because of the festival. Like I have changed them to functional components but haven't used the hooks properly. Sorry for that :(

[2021-07-19 18:18] sansyrox commented on #89
No worries @ZohebMOPO . You can take your time.

[2021-07-21 12:21] #118 closed, assigned to raghavdhingra

[2021-07-21 12:23] sansyrox commented on #118
Types are dumb!
Not permitted.

[2021-07-21 12:27] sansyrox commented on #118
https://twitter.com/sansyrox/status/1376229000469618689

Tenet.

[2021-07-22 03:13] ZohebMOPO commented on #89
[code]

[2021-07-22 03:15] ZohebMOPO commented on #89
How do I make updates using `useEffect` @raghavdhingra

[2021-07-22 08:33] raghavdhingra commented on #89
useEffect is a life cycle hook. It has a dependency list, over which the function call itself when ever any of the value from that list changes.
For e.g.
`
const callBackFunction = () => {
// do some changes
}
`
`
const dependencyArray = [value, object, list, ...]
`
`
useEffect(callBackFunction, dependencyArray);
`
So, if any of the values changes within the list via state change, or any hook chan

[2021-07-23 08:25] ZohebMOPO commented on #89
Class component:-

[code]

[code]

[2021-07-23 08:27] ZohebMOPO commented on #89
@raghavdhingra Sorry for the late reply. Schools are going offline and I am kinda stuck in that thing cuz I didn't do anything the whole summer haha. Anyways, will the functional component look like this?

[2021-07-23 08:34] ZohebMOPO commented on #89
I am hella confused about converting this to functional components. I am used to class components cuz my first programming lang was Java. I am not sure when I will come out of this learning curve :(

[2021-08-29 13:04] bhagyamudgal commented on #18
Can I work on this issue as it seems the issue has not been resolved yet?